# Copie este arquivo para application-dev.properties e preencha os valores
# NÃO commite application-dev.properties — ele está no .gitignore

DB_USERNAME=postgres
DB_PASSWORD=

PAGBANK_TOKEN=
SENDGRID_API_KEY=
RABBITMQ_PASSWORD=guest
